# Ignore node_modules folder
node_modules/

# Ignore build and dist folders
build/
dist/

# Ignore ios and android folders
ios/
android/

# Ignore expo files
.expo/

# Ignore log files
*.log

# Ignore Firebase environment file (firebaseEnv.js)
firebaseEnv.js
GoogleService-Info.plist


# Ignore .env files
.env*
  
# Ignore IDE and VSCode folders
.idea/
.vscode/
.history/
app-example/

# Ignore macOS system files
.DS_Store
